div.container
	div.row
		div.results--player.col-xs-6
			p= 'Position: ' + fightResults.pPosition
			p= 'Damage Taken: ' + fightResults.cDamage
			p= 'Health: ' + fightResults.playerHealth
			p= 'Status: ' + fightResults.playerStatus
		div.results--challenger.col-xs-6
			p= 'Position: ' + fightResults.cPosition
			p= 'Damage Taken: ' + fightResults.pDamage
			p= 'Health: ' + fightResults.challengerHealth
			p= 'Status: ' + fightResults.challengerStatus